<div class="container-fluid">
  <div>
    <app-header></app-header>
  </div>
  <h1>Update your Kingdom name, if you wish!</h1>
  <form #updateForm="ngForm">
    <div class="form-group">
      <label for="name">Kingdom name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="kingdomName" name="name"
        #kingdName="ngModel">
    </div>
    <div *ngIf="kingdName.invalid && submittedError" class="alert alert-danger">
      Kingdom name is required.
    </div>
    <div *ngIf="isError" class="alert alert-danger">
      {{error}}
    </div>
    <button (click)="updateKingdomName(kingdomName)" class="btn btn-success">Update</button>
  </form>
</div>