<div class="container-fluid m-auto justify-content-center">
    <div class="text-center mt-5">
        <h1>Welcome to Tribes</h1>
        <h2>a strategy game soon to be played by thousands of people around the World!</h2>
    </div>
    <app-login-form></app-login-form>
    <div class="justify-content-center text-center mt-3">
        <div class="text-center">Are you new to the game?</div>
        <div class="text-center">
            <button id="button" (click)="openRegistrationDialog()">Register here!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/images/build_kingdom.png"/>
            <p>Build your own Kingdom with a headquarter, strategic buildings of production and storage</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/gold.png"/>
            <p>Manage your farm and mine to produce resources</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/army_2.png"/>
            <p>Build up a strong cohort to attack enemies around your kingdom</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/Fight.png"/>
            <p>Fight with other Kingdoms to gain resources, broaden your territory and boost your troops up</p>
        </div>
    </div>
</div>