<h1>DASHBOARD</h1>
<div class="row mx-md-n8">
  <a class="col px-md-5"><img src="assets/images/building.png" width="200" height="200"></a>
  <a class="col px-md-5"><img src="assets/images/barrak.png" width="200" height="200"></a>
  <a class="col px-md-5"><img src="assets/images/farm.png" width="200" height="200"></a>
  <a class="col px-md-5"><img src="assets/images/mine.png" width="200" height="200"></a>
  <a class="col px-md-5"><img src="assets/images/ribbon.png" width="200" height="200"></a>
  <a class="col px-md-5"><img src="assets/images/attack.png" width="200" height="200"></a>
</div>