<div class="uk-container-center">
  <h1>DASHBOARD</h1>
  <h3>Click on one of the icons below to see the details</h3>
  <div class="row mx-md-n8">
    <a class="col px-md-5" routerLink="townhall"><img src="assets/images/townhall.png"></a>
    <a class="col px-md-5" routerLink="barrack"><img src="assets/images/barrack.png"></a>
    <a class="col px-md-5" routerLink="farm"><img src="assets/images/farm.png"></a>
    <a class="col px-md-5" routerLink="mine"><img src="assets/images/mine.png"></a>
    <a class="col px-md-5" routerLink="soldiers"><img src="assets/images/ribbon.png"></a>
    <a class="col px-md-5" routerLink="battle"><img src="assets/images/attack.png"></a>
  </div>
</div>
