.list-group-item {
	border: none;
}

img {
    width: 180px;
    padding: 10px;
}

a :hover {
    border: none;
	background: white;
	color: #f2f2f2;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 300ms ease;
}

.count-notif{
	vertical-align:middle;
	margin-left:-15px;
	margin-top: -80px;
	font-size:30px;
}

.badge-warning{
	padding:3px;
}


