<div class="container-fluid">
  <button class="mat-dialog-close pull-right" mat-dialog-close>X</button>
  <h1>Registration</h1>
  <form #registrationForm="ngForm" (submit)="onSubmit(registrationForm)">
    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" class="form-control" id="username" required
        [(ngModel)]="username" name="username"
        #usern="ngModel"
        [disabled]="processStarted">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required
      [(ngModel)]="password" name="password"
      minlength="8"
      #passw="ngModel"
      [disabled]="processStarted">
    </div>

    <div *ngIf="passw.errors?.minlength  && passw.touched" class="alert alert-danger">
      Password must be at least 8 characters long.
    </div>

    <div *ngIf="(submittedError && (usern.invalid || passw.invalid))" class="alert alert-danger">
      Username and password fields are required.
    </div>

    <div *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div class="form-group">
      <label for="kingdomName">Name of your kingdom</label>
      <input type="text" class="form-control" id="kingdomName"
      [(ngModel)]="kingdomName" name="kingdomName"
      [disabled]="processStarted">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="processStarted">Submit</button>
  </form>
  <div class="submitted" *ngIf="submitted">
    <p>Congratulations, you've successfully registered. Your username is {{user.username}}, your kingdom id is {{user.kingdomId}}.</p>
    <button type="submit" class="btn btn-success" (click)="login()">Start the game</button>
  </div>
</div>


