<div class="container">
  <h1>Registration</h1>
  <form>
    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" class="form-control" id="username" required>        
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required>
    </div>

    <div class="form-group">
      <label for="kingdomName">Name of your kingdom</label>
      <input type="text" class="form-control" id="kingdomName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <!-- <popup>Wrong pw please try again</popup>
  button (click)="clickButton()">Login</button> -->
</div>

