<div class="container-fluid">
  <div>
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="row align-items-center justify-content-center mb-5">
        <img src="assets/images/{{type}}.png" class="main-image" />
        <div class="h2"> Details of your {{type}}s</div>
      </div>
      <div *ngFor="let level of levels" class="row mt-5 align-items-center">
        <div class="col-2">
          <div *ngFor="let i of [].constructor(level)" class="image-position">
            <img src="assets/images/{{type}}.png" class="level-image" />
          </div>
        </div>
        <div class="col-4">
          <span *ngIf="getNumberOfBuildingsByLevel(level) > 0">{{getNumberOfBuildingsByLevel(level)}} {{type}}(s) of level {{level}}</span>
          <span *ngIf="getNumberOfBuildingsByLevel(level) == 0">You don't have any {{type}} of level {{level}}</span>
        </div>
        <div class="col-3">
          <span *ngIf="type !== 'barrack'">Production: {{getProductionRate(level)}}/min.</span>
          <span *ngIf="type === 'barrack'">Training: {{level}} soldier(s) at time</span>
        </div>
        <div class="col-3" *ngIf="level !== 3">
          <button class="btn btn-warning"
            [disabled]="(getNumberOfBuildingsByLevel(level) === 0) || (townhallLevel !== level)">Upgrade<br><small>for
              {{getUpgardeingcost(level)}} gold</small></button>
        </div>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-danger">Buy a new {{type}}<br><small>for {{costNewBuilding}} gold</small></button>
      </div>
    </div>
    <div class="col-4">
      <app-statusboard></app-statusboard>
    </div>
  </div>
</div>