body {
    background-image: url("/assets/images/background2.jpg");
    background-color: #cccccc;
    background-size: cover;
    padding-bottom: 170px;
  }

h1 {
     margin-bottom: 40px;
}

.row {
    margin: 10px;
}

table {
     margin: 40px;
     width:80%;
     margin-left: 10%;
     margin-right: 10%;
}

th {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

tbody {
    border: 1px;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #a9f5e100;
}

tbody tr:nth-child(odd){
    background-color: #d0efd0;
}

button {
    margin-bottom: 20px;
    border-radius: 4px;
}

img {
   width: 180px;
   padding: 3px;
   margin-bottom: 20px;
}
