.container-fluid {
    background-image: url("/assets/images/background2.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
 }
 .bg {
    height: 100%;
 }

 h1 {
     margin: 20px;
 }

tbody tr :nth-child(even){
    background-color: #A9F5E1;
  }
tbody tr :nth-child(odd){
    background-color: #CEF6CE;
  }

th {
    font-size: 20px;
}

.row {
    margin: 10px;
}