<div class="container-fluid">
  <div>
    <app-header></app-header>
  </div>
  <div class="row, text-center" >
    <h1>Champions league leaderboard</h1>
  </div>
  <div class="row">
      <button onclick="window.location.href = '/leaderboard/buildings'" >Show leaderboard by buildings</button>
    </div>
    <div class="row">
      <button onclick="window.location.href = '/leaderboard/soldiers'">Show leaderboard by soldiers</button>
    </div>

  <div *ngIf="side=='/leaderboard/buildings'">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>position</th>
        <th>kingdom name</th>
        <th>number of buildings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kingdom of kingdoms; let i = index">
        <td>{{i + 1}}</td>
        <td>{{kingdom.kingdomName}}</td>
        <td>{{kingdom.buildings}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div *ngIf="side=='/leaderboard/soldiers'">
    <table class="table table-striped">
        <thead>
        <tr>
          <th>position</th>
          <th>kingdom name</th>
          <th>number of soldiers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kingdom of kingdoms">
          <td>1</td>
          <td>{{kingdom.kingdomName}}</td>
          <td>{{kingdom.soldiers}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>