<body>
<div class="container-fluid">
  <div>
    <app-header></app-header>
  </div>

  <div *ngIf="side=='/leaderboard'">
    <div class="row, text-center" >
      <h1>Check out the richest kingdoms...</h1>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="assets/images/townhall.png">
        <br />
        <button onclick="window.location.href = '/leaderboard/buildings'" >Rank by buildings</button>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/images/soldier2.png">
        <br />
        <button onclick="window.location.href = '/leaderboard/soldiers'">Rank by soldiers</button>
      </div>
    </div>
  </div>

  <div *ngIf="side=='/leaderboard/buildings'">
    <h1 class="text-center">Best players as per buildings' number</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>position</th>
        <th>kingdom name</th>
        <th>number of buildings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kingdom of kingdoms; let i = index">
        <td>{{i + 1}}</td>
        <td>{{kingdom.kingdomName}}</td>
        <td>{{kingdom.buildings}}</td>
      </tr>
    </tbody>
  </table>
  <button onclick="window.location.href = '/leaderboard/soldiers'">Rank by soldiers</button>
  </div>
  <div *ngIf="side=='/leaderboard/soldiers'">
    <h1 class="text-center">Best players as per soldiers' number</h1>
    <table class="table table-striped">
        <thead>
        <tr>
          <th>position</th>
          <th>kingdom name</th>
          <th>number of soldiers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kingdom of kingdoms; let i = index">
          <td>{{i + 1}}</td>
          <td>{{kingdom.kingdomName}}</td>
          <td>{{kingdom.soldiers}}</td>
        </tr>
      </tbody>
    </table>
    <button onclick="window.location.href = '/leaderboard/buildings'" >Rank by buildings</button>
  </div>
</div>
</body>