#button {
  background-color: #e0634d;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:hover {
    background-color: #d48273;
    opacity: 0.6;
}

#button:focus {
  outline: 0;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }