<div class="container">
  <div class="row">
    <div class="col">
        <p class="text-center" style="color:grey">We're sorry, something went wrong!</p>
        <p class="text-center" style="color:grey">Please try again later!</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img src="../../assets/images/oops.png" style="width: 30%;; height:auto">
    </div>
  </div>
  <div>
    <button class="btn btn-secondary btn-sm" (click)="goBack()">Go back</button>
  </div>
</div>
