<div class="container">
  <div class="row">
    <div class="col">
        <p class="text-center" style="color:grey">Oooops, we're sorry, this element is not implemented yet!</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img src="../../assets/images/pagenotfound.png" style="width: 80%;; height:auto">
    </div>
  </div>
  <div>
    <button class="btn btn-secondary btn-sm" onclick="window.location.href ='http://localhost:4200/login';">Go home</button>
  </div>
</div>