.container-fluid{
    background-color: #263740;
    border-radius: 20px;
    padding-top: 10px;
}
li{
    list-style-type: none;
    color: whitesmoke;
  }
img{
    width: 45px;
    padding: 5px;
}
p{
    color: whitesmoke;
}