<br>
<div class="container">
  <div class="row justify-content-center">
    <ul>
      <li *ngFor="let resource of resources">
        <div *ngIf="resource.resourceTypeENUM ==='FOOD'">
          <img src="./../../assets/images/chicken.png">
          <span class="badge">{{resource.amount}} unit - {{resource.generationRate}} unit/min</span>
        </div>
        <div *ngIf="resource.resourceTypeENUM ==='GOLD'">
          <img src="./../../assets/images/money.png">
          <span class="badge">{{resource.amount}} unit - {{resource.generationRate}} unit/min</span>
        </div>
      </li>
    </ul>
  </div>