<p>Resources component works!</p>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <img src="./../../assets/images/food_icon2.svg">
    </div>
    <div class="col-md-aut justify-content-center">
      <ul>
        <li *ngFor="let resource of resources">
          <span class="badge">{{resource.type}}</span> {{resource.amount}}
        </li>
      </ul>
    </div>
    <div class="col col-lg-2">
      <img src="./../../assets/images/iconfinder_money_1055022.png">
    </div>
  </div>