<br>
<div class="container">
  <div class="row justify-content-center">
    <ul>
      <li *ngFor="let resource of resources">
        <div *ngIf="resource.type==='food'">
          <img src="./../../assets/images/food_icon2.svg">
          <span class="badge">{{resource.amount}} unit - {{resource.generation}} unit/min</span>
        </div>
        <div *ngIf="resource.type==='gold'">
          <img src="./../../assets/images/iconfinder_money_1055022.png">
          <span class="badge">{{resource.amount}} unit - {{resource.generation}} unit/min</span>
        </div>
      </li>
    </ul>
  </div>