img {
    width: 65px;
}

a{
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}
.navbar-collapse {
    padding: 0px;
}
.icons{
    text-align: end;
}
.kingdom {
line-height: 55px;
}