<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link"><img src="../../assets/images/strategyIcon.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buildings">{{User.kingdomName}}</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"><img src="../../assets/images/setting.png" routerLink="/settings"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><img src="../../assets/images/leaderboard_5.png" routerLink="/leaderboard"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><img src="../../assets/images/map.png" routerLink="/map"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><img src="../../assets/images/logout_2.png" routerLink="/logout"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>