<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../assets/images/strategyIcon.png" style="width: 65px">
    </a>
  </div>
  <div class="navbar-brand">
    <p class="navbar-item">
    {{User.kingdomName}}
    </p>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item">
    <img src="../../assets/images/setting.png" style="width: 65px">
    </a>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item">
    <img src="../../assets/images/leaderboard.jpg" style="width: 65px">
    </a>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item">
    <img src="../../assets/images/map.png" style="width: 65px">
    </a>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item">
    <img src="../../assets/images/logout.png" style="width: 65px">
    </a>
  </div>
</nav>
