
<div class="container">
  <h1>Login to start the game:</h1>
  <form #loginForm="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" required #usern="ngModel">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required #passw="ngModel">
    </div>

    <div [hidden]="(usern.valid && passw.valid) || usern.pristine || passw.pristine"
     class="alert alert-danger">
  All field are required.
    </div> 

    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
  </form>
</div>
