.badge-add {
	padding:3px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	line-height: 25px;
	font-size: 30px;
	position: absolute;
	top: 120px;
	left: 150px;
	color: #212529;
   	background-color: #ffc107;
}

.inactive {
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}

.inactive:hover {
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	opacity: 0.6;
}
