.container-fluid {
    background-color: #263740;
    border-radius: 20px;
    padding-top: 10px;
    color: whitesmoke;
    list-style-type: none;
}

div {
    list-style-type: none;
    color: whitesmoke;
}

img {
    width: 45px;
    padding: 5px;
}